p {
  @media #{$brk-medium} {
    font-size: 12px;
  }
}

.main-container {
  max-width: 1300px;
  margin: auto;
  padding: 10px;
  background-color: white;
}

.main-story-container {
  background-color: #F6F6F6;
  width: 100%;
  margin: auto;
  font-size: 14px;
  padding-bottom: 41px;
  border-top: 1px solid #4BC6DF;
  @media #{$brk-medium} {
    width: 520px;
    height: 280px;
    float: left;
    position: relative;
  }
}




.main-story-text{
  @media #{$brk-medium} {
    font-size: 16px;
    width: 161px;



  }
}
.main-story-image{
  width: 100%;
  background-image: url("../img/3701.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 0;
  padding: 56.25% 0 0 0;
    @media #{$brk-medium} {
      float: right;
      width: 343px;
      height: 203px;
      background-size: contain;
      position: absolute;
      top: -44px;
      left: 177px;


    }
}

/////////////  STORIES WITH IMGS///////////////

.second-story-image{
  width: 130px;
  height: 80px;
  background-image: url("../img/2444.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
    @media #{$brk-medium} {
      width: 100%;
    }

}
.second-story-container{
  @include story-containers (#F6F6F6, 100%, auto, 5px, 1px solid #4BC6DF, 12px);
    @media #{$brk-medium} {
      width: 163px;
      height: 275px;
      float: right;

    }
}

.second-story-text {
  @include story-texts (12px, #5C5C5C, inline-block, 55%, absolute, 10px, -18px);
      @media #{$brk-medium} {

      }
}

.third-story-image{
  width: 130px;
  height: 80px;
  background-image: url("../img/2560.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.third-story-container{
  @include story-containers (#F6F6F6, 100%, auto, 5px, 1px solid #4BC6DF, 12px);
  @media #{$brk-medium} {
    width: 25%;
    clear: both;
    float: left;
  }
}

.third-story-text {
  @include story-texts (12px, #5C5C5C, inline-block, 55%, absolute, 10px, -18px);
}

.fourth-story-image{
  width: 130px;
  height: 80px;
  background-image: url("../img/2363.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: inline-block;
}
.fourth-story-container{
  @include story-containers (#F6F6F6, 100%, auto, 5px, 1px solid #4BC6DF, 12px);
  @media #{$brk-medium} {
    width: 25%;
    float: left;
  }
}

.fourth-story-text {
  @include story-texts (12px, #5C5C5C, inline-block, 55%, absolute, 10px, -18px);
}




////////////////////  STORIES WITH NO IMG //////////////


//Possible to dry up below?//

// parent div
//.no-img-stories {
//   @include story-containers (#F6F6F6, 100%, auto, 5px, 1px solid #4BC6DF, 12px, 70px);
//   @include no-img-story-text (12px, #5C5C5C, inline-block, 90%, absolute, 10px, -18px);
// }

.fifth-story-container{
  @include story-containers (#F6F6F6, 100%, auto, 5px, 1px solid #4BC6DF, 12px, 70px);
  @media #{$brk-medium} {
    width: 25%;
    float: left;
  }
}

.fifth-story-text {
  @include no-img-story-text (12px, #5C5C5C, inline-block, 90%, absolute, 10px, -18px);

}

.sixth-story-container{
  @include story-containers (#F6F6F6, 100%, auto, 5px, 1px solid #4BC6DF, 12px, 70px);
  @media #{$brk-medium} {
    width: 25%;
    float: left;
  }
}

.sixth-story-text {
    @include no-img-story-text (12px, #5C5C5C, inline-block, 90%, absolute, 10px, -18px);
}

.seventh-story-container{
  @include story-containers (#F6F6F6, 100%, auto, 5px, 1px solid #4BC6DF, 12px, 70px);
  @media #{$brk-medium} {
    width: 25%;
    float: left;
  }
}

.seventh-story-text {
    @include no-img-story-text (12px, #5C5C5C, inline-block, 90%, absolute, 10px, -18px);
}

.eighth-story-container{
  @include story-containers (#F6F6F6, 100%, auto, 5px, 1px solid #4BC6DF, 12px, 70px);
  @media #{$brk-medium} {
    width: 25%;
    float: left;
  }
}

.eighth-story-text {
    @include no-img-story-text (12px, #5C5C5C, inline-block, 90%, absolute, 10px, -18px);
}

.ninth-story-container{
  @include story-containers (#F6F6F6, 100%, auto, 5px, 1px solid #4BC6DF, 12px, 70px);
  @media #{$brk-medium} {
    width: 25%;
    float: left;
  }
}

.ninth-story-text {
    @include no-img-story-text (12px, #5C5C5C, inline-block, 90%, absolute, 10px, -18px);
}

.tenth-story-container{
  @include story-containers (#F6F6F6, 100%, auto, 5px, 1px solid #4BC6DF, 12px, 70px);
  @media #{$brk-medium} {
    width: 25%;
    float: left;
  }
}

.tenth-story-text {
    @include no-img-story-text (12px, #5C5C5C, inline-block, 90%, absolute, 10px, -18px);
}

//////////////////////////// MORE TOPIC DROP DOWNS //////////////////
.us-politics{
  @include more-topics-container (100%, 56px, 1px solid #4BC6DF, 5px);
}
.spotlight{
  @include more-topics-container (100%, 56px, 1px solid #4BC6DF, 5px);
}
.sports{
  @include more-topics-container (100%, 56px, 1px solid #4BC6DF, 5px);
}
